[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]] # カラースキーマ
repo = 'tomasr/molokai'
hook_add = '''
  set background=dark
  " colorscheme 設定は source 後に行う必要があるので VimEnter で行う。
  " 但し Colorscheme イベントの発生が抑制されないよう nested を付ける。
  autocmd MyAutoCmd VimEnter * nested colorscheme molokai
  " アクティブウィンドウのステータスラインの色を目立たせる
  if g:for_office_work
    autocmd MyAutoCmd ColorScheme * highlight StatusLine ctermfg=100 guifg=DarkGoldenrod
  else
    autocmd MyAutoCmd ColorScheme * highlight StatusLine ctermfg=100 guifg=SeaGreen
  endif
  " 日本語表示でカーソルを赤くする
  autocmd MyAutoCmd ColorScheme * highlight CursorIM guifg=NONE guibg=Red
  " Italicをやめる
  autocmd MyAutoCmd ColorScheme * highlight Macro gui=none
  autocmd MyAutoCmd ColorScheme * highlight Special gui=none
  " Boldをつける
  autocmd MyAutoCmd ColorScheme * highlight Error gui=bold guifg=Red
'''

[[plugins]]
repo = 'nathanaelkane/vim-indent-guides'
hook_add = 'let g:indent_guides_enable_on_vim_startup=1'

[[plugins]] # deniteはpythonが必要なので会社のPCに入れるのが面倒、という後ろ向きな理由でctrlpを入れる。
repo = 'ctrlpvim/ctrlp.vim'
hook_add = '''
  let g:ctrlp_clear_cache_on_exit = 0
  let g:ctrlp_lazy_update = 1
  " gtagsがある場所をrootとみなす。確か".git"は自動的にrootとみなす仕様だった気がする。
  let g:ctrlp_root_markers = ['gtags']
  " 表示windowの行数
  let g:ctrlp_match_window = 'max:30'

  " ファイル履歴を開く
  " <c-m>は使えません！！！enterの挙動も変わってしまう
  " nnoremap <c-m> :CtrlPMRUFiles<cr>
  nnoremap mru :CtrlPMRUFiles<cr>
'''

[[plugins]]
repo = 'mnishz/current-func-info.vim'
hook_add = '''
  set statusline=%f%m%r%h%w\ /\ %{cfi#format('%s','')}%=%c\ [fenc=%{&fileencoding}]
'''

[[plugins]]
repo = 't9md/vim-quickhl'
hook_add = '''
  nmap <Space>m <Plug>(quickhl-manual-this)
  xmap <Space>m <Plug>(quickhl-manual-this)
  nmap <Space>w <Plug>(quickhl-manual-this-whole-word)
  nmap <Space>M <Plug>(quickhl-manual-reset)
  xmap <Space>M <Plug>(quickhl-manual-reset)
  nmap <Space>l :QuickhlManualList<cr>
'''
