[user]
	# 必要に応じて.gitconfig.localに追記する
	name = mnishz
	email = mnishz@users.noreply.github.com
[core]
	pager = less -i
	# 必要に応じてutf-8に変換、.gitconfig.localに追記する
	# pager = nkf32 -w | less -i
	# pager = iconv -f cp932 -t utf-8 | less -i
	quotepath = false
[alias]
	graph = log --graph -C -M --pretty=format:'%C(auto)%h %ad [%an]%d %s' --date=format:'%Y/%m/%d %H:%M'
	windiff = difftool -y -d -t WinMerge
	vimdiff = difftool -t vimdiff --no-prompt
[include]
	# 最後にlocalの内容で上書き
	path = .gitconfig.local
[merge]
	ff = false
[pull]
	ff = only
