[user]
	# 必要に応じて.gitconfig.localに追記する
	name = mnishz
	email = mnishz@users.noreply.github.com
[core]
	pager = less -iF
	# 必要に応じてutf-8に変換、.gitconfig.localに追記する
	# pager = nkf32 -w | less -iF
	# pager = iconv -f cp932 -t utf-8 | less -iF
	quotepath = false
	filemode = false
	autocrlf = input
	trustctime = false
	warnambiguousrefs = false
	editor = vim
[alias]
	# --date-order
	graph = log --graph -C -M --pretty=format:'%C(auto)%h %cd [%an]%d %s' --date=format:'%Y/%m/%d %H:%M'
	windiff = difftool -y -d -t WinMerge
	vimdiff = difftool -t vimdiff --no-prompt
[merge]
	ff = false
	tool = vimdiff
	renameLimit = 999999
[pull]
	ff = only
	rebase = true
[color "diff"]
	meta = reverse
[color]
	ui = true
[gitreview]
	remote = origin
[diff]
	tool = vimdiff
	renameLimit = 999999
[push]
	default = simple
[rerere]
	enabled = true
[include]
	# 最後にlocalの内容で上書き
	path = .gitconfig.local
