[include]
    path = .gitconfig.local
[core]
	pager = nkf32 -w | less -i
	quotepath = false
[alias]
	graph = log --graph -C -M --pretty=format:\"%C(auto)%h %ad [%an]%d %s\" --date=short --date-order
	windiff = difftool -y -d -t WinMerge
[difftool "WinMerge"]
	path = W:/FreeSoft/WinMergePortable/WinMergePortable.exe
	cmd = \"W:/FreeSoft/WinMergePortable/WinMergePortable.exe\" -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"
